# asgiref==3.11.0
# Django==5.2.9
# django-cors-headers==4.9.0
# djangorestframework==3.16.1
# gunicorn==23.0.0
# packaging==25.0
# sqlparse==0.5.5
# typing-extensions>=4.5.0,<4.6.0
# tzdata==2025.3
# tensorflow==2.13.0
# keras==2.13.1
# numpy<2
# Pillow==9.5.0
# h5py==3.15.1
# whitenoise==6.5.0
asgiref==3.11.0
Django==5.2.9
django-cors-headers==4.9.0
djangorestframework==3.16.1
gunicorn==23.0.0
packaging==25.0
sqlparse==0.5.5
typing-extensions>=4.5.0,<4.6.0
tzdata==2025.3
# tensorflow==2.10.0
# keras==2.10.0
numpy==1.23.5
protobuf<4
# h5py==3.8.0
Pillow==9.5.0
whitenoise==6.5.0
requests
dj-database-url
psycopg2-binary
